<h4 style= "width: 100%; text-align:center"><b>Todas las eGift Cards registradas</b> </h4>

<div class= " justify-content-center" style="width:100%;margin-left: 2.5%;">
<div style="width: 95%" >
    <div class="cardbg">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Monto</th>
              <th>Mensaje</th>
               <th>Nombre del Beneficiario</th>
              <th>Número del Beneficiario</th>
              <th>Correo del Beneficiario</th>
              <th>Nombre del Comprador</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gc of giftcards "  >
                <td class="linea">{{gc.id}} </td>
                <td class="linea">{{gc.amount}} $ </td>
                <td class="linea">{{gc.message  }} </td>
                <td class="linea">{{gc.recipient_name}} </td>
                <td class="linea" >{{gc.recipient_mobile_number}} </td>
                <td class="linea" >{{gc.recipient_email_address}} </td>
                <td class="linea">{{gc.purchaser_name}} </td>
            </tr>
            <tr >
                <td class="lastl"></td>
                <td  class="lastl"></td>
                <td  class="lastl"> </td>
                <td  class="lastl"> </td>
                <td  class="lastl"></td>
                <td  class="lastl"></td>
                <td  class="lastl"></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>