.table thead th {
    vertical-align: bottom;
    background-color: rgba(3,25,39,.95) !important;
    border-bottom: 2px solid rgba(3,25,39,1) !important;
    border-top: 2px solid rgba(3,25,39,1) !important;
    color:white;
}

.linea{
    padding: .75rem;
    vertical-align: top;
    border-right: 2px solid rgba(3,25,39,1) !important;
    border-left: 2px solid rgba(3,25,39,1) !important;
    border-top: 1px solid rgba(200,224,244,1) !important;
}

.lastl{
    border-top: 2px solid rgba(3,25,39,1) !important;
    border-right: 2px solid white !important;
    border-left: 2px solid white !important;
}
