.container{
    width: 100%;
    height: 100%;
   
    min-width: 100%;
    min-height: 100%;

}
.informacion{
    width: 100%;
}
.primeral{
background-color:  #BA1200;
height: 25px;
}
.segundal{
    background-color:white;
    height: 20px;
    }

.finall{
    background-color: #031927;
height: 25px;
}

.body
{
width:100%;
height:100% !important;
}

.titulo{
    text-align: center;
}
