<body>
<header>
  <div class ="primeral"></div>
  <div class ="segundal"></div>
  <div class ="finall"></div>
</header>

<div class="container">
  <div class="row">
    <div class ="informacion">  
      <h1 class="titulo">Bienvenido a eGift Card Shop</h1>
      <ul class="nav justify-content-center" style="height: 60px;">

        <li class="nav-item" style="padding:10px;">
          <a routerLink="giftcards" class="btn btn-dark btn-sm" style="height: 100%; width:180px;" role="button" routerLinkActive="active">Historial de Gift Cards</a> 
      </li>
      <li class="nav-item" style="padding:10px;">
          <a routerLink="giftcard/add" class="btn btn-dark btn-sm"   style="height: 100%; width:180px;" role="button" routerLinkActive="active">Envio de Gift Card</a>
      </li>
      </ul>
      <hr style="border-top: 3px solid #508aab !important;">
      <br>
      <router-outlet></router-outlet>
<br>
    </div>


</div>

</div>
<footer>
    <div class ="primeral"></div>
  <div class ="segundal"></div>
  <div class ="finall"></div>
</footer>
</body>
