<div class ="pagina">
  <div class ="row">
     <div class="col-sm-7">

<div [hidden]="submitted">
    <form #addGiftcardForm="ngForm">

        <div class="card">
            <div class="card-header">
                <h4><b>Es momento de personalizar tu eGift Card</b></h4>
        
            </div>
            <div class="card-body">
                <div class="form-group">  
                    <div class="mensaje">
                    <input type="text" class="form-control" style ="background-color: rgba(3,25,39,.9); color:white!important;height: 180px; text-align: center;" id="message" placeholder="En esta casilla escribe un mensaje para la persona a la que le enviaras el regalo" 
                    required
                    [(ngModel)]="giftcard.message" name="message" #message="ngModel">
                  </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="id_picture"><b>Ahora debes eliger una imagen</b></label>
                    <div class="col-md-12">
                        <div class="cardbg">
                          <div id="myCarousel1" class="carousel slide" data-interval="false">
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              
                              <div class="carousel-item active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-TxGgjMeDGME-DJIV-rc_e7dVVqS4FFIfG09LZlMPS8gktNH_"  width="100%">
                              </div>
                              <div class="carousel-item" *ngFor="let picture of pictures ">
                                <img src="{{picture.link}} " width="100%">
                              </div>

                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel1" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
                        </div>
                      </div>
           
                  </div>
            </div>
          </div>


          <hr style="border-top: 3px solid #508aab !important;">
      <div class="card">
          <div class="card-header">
              <h4><b>¿Cuánto te gustaría regalar?</b></h4>
      
          </div>
          <div class="card-body">
              <label for="amount" class="col-sm-12"><b>Selecciona un valor o ingresa la cantidad</b></label>

              <div class="form-inline">
                  
                  <label class="col-sm-2"><label style="color:#BA1200; margin-right: 5px;"><b> * </b></label><b>USD $</b></label>
                  
                  <input type="number" class=" col-sm-2 form-control " style ="margin-right: 10px; !important"id="amount" 
                  placeholder="10"
                  required
                  [(ngModel)]="giftcard.amount" name="amount" #amount="ngModel" >

                <div class="form-check form-check-inline" style="width:13%;" >
                    <input class="form-check-input" type="radio" name="amount" id="amount" value="25"
                    [(ngModel)]="giftcard.amount" name="amount" #amount="ngModel">
                    <label class="form-check-label" for="inlineRadio1">$25</label>
                  </div>
                  <div class="form-check form-check-inline" style="width:13%;" >
                    <input class="form-check-input" type="radio" name="amount" id="amount" value="50"
                    [(ngModel)]="giftcard.amount" name="amount" #amount="ngModel">
                    <label class="form-check-label" for="inlineRadio2">$50</label>
                  </div>
     
                  <div class="form-check form-check-inline" style="width:13%;" >
                      <input class="form-check-input" type="radio" name="amount" id="amount" value="100"
                      [(ngModel)]="giftcard.amount" name="amount" #amount="ngModel">
                      <label class="form-check-label" for="inlineRadio1">$100</label>
                    </div>
                    <div class="form-check form-check-inline" style="width:13%;" >
                      <input class="form-check-input" type="radio" name="amount" id="amount" value="250"
                      [(ngModel)]="giftcard.amount" name="amount" #amount="ngModel">
                      <label class="form-check-label" for="inlineRadio2">$250</label>
                    </div>     
                </div>
                <p style="margin:10px;"><b>• </b>Ingrese una cantidad entre $10 y $500 USD. </p>
                <p style="margin:10px;"><b>• </b>Puedes agregar multiples Gift Cards a tu carro, hasta un total de $500. </p>
                <p style="margin:10px;"><b>• </b>El destinatario de su regalo puede canjear Git Cards de $50 o más en servicios personalizados con un asesor de belleza. </p>
          </div>
        </div>
<hr style="border-top: 3px solid #508aab !important;">


          <div class ="row" style= " display: flex;
          justify-content: center;
          align-items: center;
       ">
            <div class ="col-sm-7">
            <div class="card">
                <div class="card-header">
                    <h4><b>Información del beneficiario</b></h4>
            
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label><label style="color:#BA1200; margin-right: 5px;"><b> * </b></label><b>Nombre</b></label>
                        <input style="width:80%" type="text" class="form-control" id="recipient_name" 
                        placeholder="Claudia Loreda"
                        required
                        [(ngModel)]="giftcard.recipient_name" name="recipient_name" #recipient_name="ngModel">
                
                      </div>
              
                      <div class="form-group">
                          <label><label style="color:#BA1200; margin-right: 5px;"><b> * </b></label><b>Correo electrónico</b></label>
                          <input style="width:80%" type="text" class="form-control" id="recipient_email_address" 
                          placeholder="claudia@gmail.com"
                          required
                          [(ngModel)]="giftcard.recipient_email_address" name="recipient_email_address" #recipient_email_address="ngModel">
                  
                        </div>
                      </div>
                </div>
              </div>

              <div class ="col-sm-5" style ="vertical-align: middle;">
                  <div class="card" style="background-color: rgba(3,25,39,.9);
                  border: 1px solid rgba(3,25,39,1);
                  color:white;">
                      <div class="card-body">
                        <h5 class="card-title">Envío
                        </h5>
                        <p class="card-text">Envía la Gift Card directamente al correo el electrónico de tu amigo. Esta será entregada automáticamente en cuestión de minutos. Serás notificado tan pronto tu amigo reciba su Gift Card.</p>
                      </div>
                    </div>
              </div>
              </div>
              <hr style="border-top: 3px solid #508aab !important;">
            <div class="card">
                <div class="card-header">
                    <h4><b>Información del comprador</b></h4>
            
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label><label style="color:#BA1200; margin-right: 5px;"><b> * </b></label><b>Nombre</b></label>
                        <input type="text" style="width:80%" class="form-control" id="purchaser_name" 
                        placeholder="Tu nombre va aquí"
                        required
                        [(ngModel)]="giftcard.purchaser_name" name="purchaser_name" #purchaser_name="ngModel">
                
                      </div>
            
                </div>
              </div>
              <hr style="border-top: 3px solid #508aab !important;">
              <div class ="row" style =" display: flex;
              justify-content: center;
              align-items: center;
           ">
                  <div class ="col-sm-7">
              <div class="card">
                  <div class="card-header">
                      <h4><b>Información de la Entrega</b></h4>
              
                  </div>
                  <div class="card-body">
                      <div class="form-group">
                          <label><label style="color:#BA1200; margin-right: 5px;"><b> </b></label><b>Escoge una fecha
                          </b></label>
                          <input style="width:80%" type="date" class="form-control" id="delivery_date" 
                   
                          required
                          [(ngModel)]="giftcard.delivery_date" name="delivery_date" #recipient_name="ngModel">
                  
                        </div>
                      <div class="form-group">
                          <label><b>Número telefónico del beneficiario</b></label>
                          <input type="text" style="width:80%" class="form-control" id="recipient_mobile_number" 
                          placeholder="3002004050"
                          required
                          [(ngModel)]="giftcard.recipient_mobile_number" name="recipient_mobile_number" #recipient_mobile_number="ngModel">
                  
                        </div>
              </div>
              </div>
                  </div>
                  <div class ="col-sm-5" style ="vertical-align: middle;">
                      <div class="card" style="background-color: rgba(3,25,39,.9);
                      border: 1px solid rgba(3,25,39,1);
                      color:white;">
                          <div class="card-body">
                            <p class="card-text">Programa el envio de la Gift Card hasta dentro de 12 meses.</p>
                          </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: rgba(3,25,39,.9);
                        border: 1px solid rgba(3,25,39,1);
                        color:white;">
                            <div class="card-body">
                              <p class="card-text">Envía un mensaje de texto con el enlace de la gift Card.</p>
                            </div>
                          </div>
                  </div>

                  
                </div>

<br>
      <div class="btn-group btn-group-sm justify-content-center" style ="height: 60px;width: 100%;" >
          <button type="button " style="margin:10px; width:110px; " class="btn btn-dark" (click)="goBack()" >Atrás</button>
          <button type="button" style="margin:10px; width:110px;" class="btn btn-dark" (click)="addGiftcard()" [disabled]="!addGiftcardForm.form.valid">Comprar</button>
        </div>
    </form>
</div>

<!--  -->
    <br><br><br>
    <div [hidden]="!submitted">
    <div class="card" style="background-color: rgba(3,25,39,.9);
    border: 1px solid rgba(3,25,39,1);
    color:white; ">
        <div class="card-body">
            <div class="card-header" style="background-color: rgba(3,25,39,0);
            border: 1px solid rgba(3,25,39,0);
            color:white;">

                <h2><b>ENVIO EXITOSO
                </b></h2>
        <br>
            </div>
          <h5 class="card-subtitle mb-2 " style="color: rgb(200,224,244)">Gracias por su compra</h5>
          <p class="card-text">En pocos minutos el beneficiario recibira el enlace de la Gift Card.</p>
          <br>

        </div>
      </div>
      <br><br>
    <div  class="btn-group btn-group-sm justify-content-center" style ="height: 60px;width: 100%;">
        <button type="button" class="btn btn-dark" style="margin:10px; width:110px;" (click)="newGiftcard(); addGiftcardForm.reset()">Aceptar</button>
      </div>
  </div>
</div>
<div class = "col-sm-1">
    <div class="col-xs-2 v-divider"></div>
</div>
<div class="col-sm-4">
  
    <img src="https://s3.amazonaws.com/uploads.hotmart.com/blog/2018/04/BLOG_Publicidad-670x419.png"  width="85%">

    <br>
    <br>
  
  <img src="https://files.merca20.com/uploads/2015/10/shutterstock_297736271-e1444828063954.jpg"  width="85%">
  <br>
  <br>

  <img src="https://amap.com.mx/noticias/wp-content/uploads/2019/05/servicio-de-publicidad-online_01.png"  width="85%">
 
  <br>
  <br>
  <img src="http://www.elconejoblanco.es/wp-content/uploads/2015/12/post15q1.jpg"  width="85%">
  
  <br>
  <br>

  <img src="https://www.roastbrief.com.mx/wp-content/uploads/2014/09/HiRes5-478x480.jpg"  width="85%">

  
  <br>
  <br>

  <img src="https://s3.amazonaws.com/uploads.hotmart.com/blog/2017/09/como-anunciar-no-instagram-1-1-670x419.png"  width="85%">

</div>
</div>
</div>

