.pagina{
    margin-left: 15px;
    margin-right: 15px;
}
.img{
    box-shadow: 0px 1px 6px 1px rbga(0,0,0,0.75);
    padding-bottom: 15px!important;
}
.carousel-indicators {
    display: none;
  }
  
  .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    text-align: center;
}

.v-divider{
 margin-left:5px;
 margin-right:5px;
 width:1px;
 height:100%;
 border-left:3px solid #508aab;
}

.hr{
    border-top: 3px solid #508aab !important;
}

.ng-invalid:not(form) {
    border-left: 5px solid #BA1200;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(200,224,244,.5);;
    border-radius: .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(200,224,244,.15);
    border-bottom: 1px solid rgba(200,224,244,.5);
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid  rgba(200,224,244,.5);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

